In [42]:
import os
import pandas as pd
from preprocessing.data_cleaning import DataCleaner

df_raw_clima = pd.read_parquet('C:\\Users\\Dudu_\\OneDrive\\Documentos\\Estudos\\1. Projetos Pessoais\\3. Previsão Público Cruzeiro\\data\\raw\\df_raw_clima.parquet',use_pandas_metadata=False, engine="pyarrow")
df_trusted_clima = pd.read_parquet('C:\\Users\\Dudu_\\OneDrive\\Documentos\\Estudos\\1. Projetos Pessoais\\3. Previsão Público Cruzeiro\\data\\trusted\\df_trusted_clima.parquet',use_pandas_metadata=False, engine="pyarrow")
df_refined_clima = pd.read_parquet('C:\\Users\\Dudu_\\OneDrive\\Documentos\\Estudos\\1. Projetos Pessoais\\3. Previsão Público Cruzeiro\\data\\refined\\df_refined_clima.parquet',use_pandas_metadata=False, engine="pyarrow")

In [43]:
(df_trusted_clima.isna().sum() / df_trusted_clima.shape[0]) * 100

Data                        0.000000
Hora UTC                    0.000000
precipitacao_total          0.076668
temp_media_bulbo_seco       0.077450
temp_media_ponto_orvalho    0.077450
velocidade_media_vento      0.077450
dtype: float64

In [44]:
df_trusted_clima[df_trusted_clima['precipitacao_total'].isna()].groupby('Data').size()

Data
2020-09-03    10
2020-09-04    13
2020-09-05    13
2020-09-06    13
2020-09-07    14
2020-09-08    15
2020-09-09    11
2022-12-08     7
2022-12-20     1
2024-10-12     1
dtype: int64

In [45]:
teste = df_trusted_clima.groupby(['Data']).agg({'precipitacao_total': 'sum',
                                                'temp_media_bulbo_seco': 'mean',
                                                'temp_media_ponto_orvalho': 'mean',
                                                'velocidade_media_vento': 'mean'}).reset_index()

In [48]:
teste

,Data,precipitacao_total,temp_media_bulbo_seco,temp_media_ponto_orvalho,velocidade_media_vento
0,2011-01-01,28.2,19.212500,18.083333,1.950000
1,2011-01-02,16.4,20.133333,18.591667,1.337500
2,2011-01-03,49.6,20.300000,18.895833,1.675000
3,2011-01-04,26.4,20.925000,19.225000,1.795833
4,2011-01-05,15.0,21.079167,19.529167,1.033333
...,...,...,...,...,...
5321,2025-07-27,0.0,20.195833,12.462500,1.650000
5322,2025-07-28,0.0,20.683333,10.958333,1.300000
5323,2025-07-29,0.0,20.350000,9.883333,1.587500
5324,2025-07-30,0.0,17.945833,2.950000,0.712500
5325,2025-07-31,0.0,17.233333,7.712500,1.345833